.idol-test-2 {
    background: linear-gradient(180deg, #FFEEE7 1.92%, #FFF 76.92%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.question1 {
    padding-top: 15vh;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
}

.question1-description {
    padding: 2vh 5% 3vh 0;
    font-size: 1rem;
}

.name-input-field {
    width: 80%;
    max-width: 320px;
    height: 6vh;
    padding-top: 2vh;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 20px;
    border: 1.5px solid #000;
    background: #FFF;
    margin-bottom: 10vh;
    margin-top: 5vh;
    font-family: poppins;
    resize: none;
}

.switch-page-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 400px;
    padding: 0 30px 30px 30px;
}

.test-start-button {
    max-width: 170px;
    max-height: 76px;
    height: 55px;
    width: 140px;
}