.reply1988-explain-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.test-name{
    margin-top: 5px;
}

.microphone-img{
    width: 110px;
    height: 110px;
    margin: 60px;
}

.test-description{
    padding: 0px 40px 60px 40px;
    text-align: center;
}
.desc-start-button {
    margin-bottom: 30px;
}