.saju-profile {
    padding: 0 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: linear-gradient(180deg, #FFEFDF 0%, #FFFFF6 43.27%, #FFF 99.04%);
}
h3 {
    font-size: 24px;
}
p {
    font-size: 24px;
}
input {
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid #000;
}
.profile-content-birthDate {
    margin: 10px 0px 10px 0px;
}
.profile-content-birth-wrapper {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 60px;
}
button {
    font-size: 25px;
    font-weight: 400;

}