.option-button {
    width: 295px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.option-button:hover {
    background: linear-gradient(0deg, #FEFDF2 0%, #FFF0E8 100%);
}
