.saju-test-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc-3-wrapper {
    text-align: center;
}
.desc-3 {
    font-size: 24px;
    margin-bottom: 54px;
}
.descDetail-3 {
    font-size: 22px;
}
.desc-content-3{
    padding: 0px 30px 60px 50px;
    text-align: left;
}