.switch-page-button {
    border-radius: 20px;
    border: 1.5px solid #1a1a1a;
    background: #1a1a1a;
    flex-shrink: 0;
    height: 55px;
    width: 140px;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins';
    display: flex;             /* 추가 */
    justify-content: center;   /* 가로 중앙 정렬 */
    align-items: center;       /* 세로 중앙 정렬 */
    cursor: pointer;
}
.switch-page-button:hover {
    background: #FFFFFF;
    border: 1.5px solid #1A1A1A;
    color: #1A1A1A;
    transition: background-color 0.5s, color 0.5s;
}