.switch-page-button {
    border-radius: 20px;
    border: 1px solid #000;
    background: #1A1A1A;
    flex-shrink: 0;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins';
    display: flex;             /* 추가 */
    justify-content: center;   /* 가로 중앙 정렬 */
    align-items: center;       /* 세로 중앙 정렬 */
}