.our-team {
    padding: 0 5%;
}
.our-focus {
    margin-bottom: 3%;
}
.member {
    margin: 5% 0;
}
.member-description {
    margin: 0;
}

.mimoticon-image {
    width: 200px;
    height: auto;
    margin-bottom: 5px;
    border-radius: 15px;
    border: 1.5px solid #CECECE;
}