.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background: linear-gradient(to bottom, #ffeee7, #fefff3); /* 연한 베이지 to 흰색 */
  /* border-bottom: 1px solid #ddd; */
  flex-direction: row;
  position: relative;
}

.language-select {
  margin-right: 12px;
  padding: 8px 15px;
  border-radius: 9999px;
  border: 1.5px solid #cdcdcd;
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
}

.site-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: semi-bold;
  color: #000;
  font-size: 25px;
}

.home-icon {
  width: 30px;
  height: 30px;
  color: #000;
}

.home-icon svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 430px) {
  .header {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px 4px;
  }
  .site-title {
    font-size: 1.1rem;
    margin: 0;
  }
  .home-icon {
    font-size: 1.3rem;
  }
}