.saju-test-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.crystalball-img{
    width: 110px;
    height: 110px;
    margin: 60px;
}
.saju-test-start-button{
    background-color: #1A1A1A;
    color: white;
    margin: 110px 0px 20px 0px;
    width: 150px;
}