.reply1988-explain-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.test-name{
    margin-top: 20px;
}

.microphone-img{
    width: 110px;
    height: 110px;
    margin: 40px;
}

.test-description{
    padding: 0px 70px 60px 70px;
    text-align: center;
}
.switch-page-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 0 30px 30px 30px;
}