.swipe-page-button {
    border-radius: 20px;
    border: 1px solid #000;
    background: #1A1A1A;
    width: 170px;
    height: 76px;
    flex-shrink: 0;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins';
}