.category-buttons{
    display: flex;
    justify-content: space-between;
}
.category-btn {
    display: flex-box;
    align-items: center;
    padding: 10px 20px;
    border-radius: 100px;
    background: linear-gradient(to bottom, #FFFFFF, #FFFFE4);
    color: #000;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 10px;
    width: 120px;
    height: 120px;
    border: 1.5px solid #1a1a1a;
    flex-direction: row;
}