@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');

body {
  font-family: 'Prompt', sans-serif;
}

h2 {
  font-size: clamp(30px, 2vw, 40px);
  font-weight: 600;
  margin-bottom: 10%;
}