@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

h2 {
  /* font-size: 30px; */
  font-size: clamp(30px, 2vw, 40px);
  font-weight: 600;
  margin-bottom: 3%;
}