.progress-bar-wrapper {
  width: 90%;
  max-width: 357px;
  margin: 1vh 0 3vh 0;
  display: flex;
  flex-direction: column; /* 수직 배치 */
  align-items: center;    /* 가운데 정렬 (원하면) */
}


.progress-bar-bg {
  width: 100%;
  height: 15px;
  background-color: #ffd9d1;
  border-radius: 15px;
  border: 1.5px solid #1a1a1a;
  margin-top: 2vh;
}

.progress-bar-fill {
  height: 100%;
  background-color: hsl(54, 100%, 94%);
  border-radius: 15px 15px 15px 15px;
  transition: width 0.5s ease;
}

.progress-text {
  margin-top: 8px;
  font-weight: 600;
  font-size: 20px;
  color: #1a1a1a;
}
