.progress-bar-bg {
  width: 90%;
  max-width: 357px;
  height: 15px;
  margin: 30px 0;
  background-color: #EA994D;
  border-radius: 15px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #EFD453;
  border-radius: 15px 0 0 15px;
  transition: width 0.3s ease;
}