.progress-bar-wrapper {
  width: 90%;
  max-width: 357px;
  margin: 1vh 0 3vh 0;
  display: flex;
  flex-direction: column; /* 수직 배치 */
  align-items: center;    /* 가운데 정렬 (원하면) */
}


.progress-bar-bg {
  width: 100%;
  height: 15px;
  background-color: #EA994D;
  border-radius: 15px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #EFD453;
  border-radius: 15px 0 0 15px;
  transition: width 0.3s ease;
}

.progress-text {
  margin-top: 8px;
  font-weight: 600;
  color: #333;
}
